.form {
    display: flex;
    font-size: 14px;
    width: 50%;
    margin: 50px auto 20px;
}

.form input {
    border-radius: 10px 0 0 0;
    border: 3px solid var(--violet);
    padding: 15px 25px;
    background-color: transparent;
    font-size: inherit;
    color: var(--light-0);
}

.form input:focus {
    background-color: transparent;
    color: var(--light-0);
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.form button {
    padding: 15px 25px;
    border-bottom-right-radius: 10px;
    background-color: var(--violet);
    border: 2px solid var(--violet);
    color: var(--light-0);
}

.message {
    font-size: 14px;
}

.form br {
    display: block;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }

    .form br {
        display: none;
    }
}