:root {
    --violet: #7c21f5;
    --violet-shadow: #540ab4;
    --dark-100: #07090d;
    --light-40: #c9d2e3;
    --light-20: #ebeef5;
    --light-0: #ffffff;
}

/*Global Styles*/
html, body {
    height: 100%;
}
#__next {
    height: 100%;
    overflow: hidden;
}

html body {
    font-family: Montserrat, 'sans-serif';
    font-size: 14px;
    background-color: var(--dark-100);
    color: var(--light-0);
    padding: 50px;

    background-image: url("/img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: all 5s ease;
}

body a {
    color: var(--light-0);
    text-decoration: none;
    transition: color 350ms ease;
}
body a:hover {
    color: var(--light-0);
}

/*Follow on Instagram*/
svg {
    transition: color 350ms ease;
}
#links:first-child:hover svg {
    color: var(--violet);
}

/*NewMoon Logo*/
nav img {
    height: 45px;
    margin-top: 50px;
}

/*Contact Us*/
#links > a {
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
}
#links > a::after {
    content: "";
    height: 2px;
    width: 50px;
    position: absolute;
    bottom: -10px;
    background-color: var(--violet);

    opacity: 0;
    transition: all 350ms ease;
}
#links > a:hover::after {
    opacity: 1;
}