:root {
    --violet: #7c21f5;
    --violet-shadow: #540ab4;
    --dark-100: #07090d;
    --light-40: #c9d2e3;
    --light-20: #ebeef5;
    --light-0: #ffffff;
}

/*Global Styles*/
html, body {
    height: 100%;
}
#__next {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html body {
    font-family: Montserrat, 'sans-serif';
    font-size: 14px;
    color: var(--light-0);

    background-image: url("/img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    transition: background-position 5s ease;
    overflow: hidden;
}

body a {
    color: var(--light-0);
    text-decoration: none;
    transition: color 350ms ease;
}
body a:hover {
    color: var(--light-0);
}

header {
    width: 100%;
}

/*Follow on Instagram*/
svg {
    transition: color 350ms ease;
}
#links:first-child:hover svg {
    color: var(--violet);
}

/*NewMoon Logo*/
header img {
    margin-top: 50px;
}

/*Contact Us*/
#links > div:nth-child(2) a {
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
}
#links > div:nth-child(2) a::after {
    content: "";
    height: 2px;
    width: 50px;
    position: absolute;
    bottom: -10px;
    background-color: var(--violet);

    opacity: 0;
    transition: all 350ms ease;
}
#links > div:nth-child(2) a:hover::after {
    opacity: 1;
}

/*Nave*/
#nave {
    position: absolute;
    bottom: 5%;
    width: 5%;
    z-index: -1;
}

/*-=-=-=-=-=-=- Media Queries -=-=-=-=-=-=-*/

@media (max-width: 768px) {
    html body {
        background-size: 1355px 1315px !important;
    }

    #nave {
        bottom: 10%;
        width: 13%;
        margin-left: 3px;
    }

    #follow-us {
        display: none;
    }

    header {
        font-size: 12px !important;
    }
}


@media (max-width: 1200px) {
    section > .row > div {
        margin-bottom: 95px !important;
    }
}

@media (max-width: 1600px) {
    section > .row > div {
        margin-bottom: 75px;
    }
}